
/****************************Fonts********************
******************************************************/
@font-face {
    font-family: 'pokedex';
    src:url(/fonts/Pokemon.ttf)
}
  .itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  /*****Icons*/
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
 body{
  background-color:#000 ;
 }




/**********************************************************************************************************************************************************************************
*********************************************************************************                Pokedex Page                 *****************************************************
***********************************************************************************************************************************************************************************/


/**********************Header******************/

header{
  background-image: url(/images/pokemon.jpg);
  background-size: cover;
  padding: 150px;
  background-position: center center;
  background-repeat: no-repeat; 
 
}

header h1{
  color:rgb(255, 255, 255);
  font-family: 'pokedex';
  text-align: center;
  font-size: 100pt;  
  height: 100px;
}

.text{
  color: rgb(255, 255, 255);
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 20pt;  
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(255, 203, 5, .5);
  border-radius: 10px;
  padding: .7em;
  
}
/*****Buttons nav**********/
.wrapper{
  background-image: url(/images/black.avif);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

}







h1{
  color:#FFCB05;
  font-family: 'pokedex';
  text-align: center;
  padding: 0%;
  font-size: 80pt;
  padding-top: 10px;  
}

.heading1{
  color:#FFCB05;
  font-size: 80pt;
}

/*************************  Display Pokemons    *******************/

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px; 
  margin-left: 40px;
}

.card {
  background-color: #000;
  color: #fff;
  border: 5px solid #FFCB05;
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 450px;
  
}

.wrappokeball{
  background-image: url(/images/pokebola.svg);
  background-size: cover;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
    
  .wrappokeball img{
      width: 3000px;
      height: 300px;
    }



.card{
  padding-bottom: 10px;
}

.card h2 {
  margin-top: 0;
  font-size: 35px;
  text-align: center;
  color: #FFCB05;
  cursor: pointer;
}

.card p {
  text-align: center;
  font-size: 25px;
  margin-bottom: 1px;
}

#bulbasaur{
  height: 100px;
  width: 100px;
}
/**************************  Categories  ************************/
.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding-top: 1em;
  font-family: "Indie Flower", cursive; 
}

.type{
  background-color: 	rgba(92,54,19, .8);
  width:110px;
  height:40px;
  border-radius: 20px;
  text-align: center;
  font-family: "Indie Flower", cursive; 
  font-size: 20pt;
}

  /***********Show more button*****************/

  .showMoreContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .showMore{
    width: 180px;
    height: 50px;
    margin-top: 2em;
    flex-shrink: 0;
    background-color: #FFCB05; 
    color: #000; 
    border: white;
    border-radius: 25px; 
    font-size: 20pt; 
    font-weight: bold;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
   margin-bottom: 15px;
  }
  
  .showMore:hover {
    background-color: black;
    color:white;
    animation: pulse 0.5s ease-in-out;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  /**********************   Footer   *****************/
  footer {
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #FFCB05;
    font-size: 20pt;
  }
  
  footer p {
    margin: 0;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }





  
  /***********************************************************************************************************************************************************************************************
  ***********************************************************************                 Pokemon Page              ******************************************************************************
  ************************************************************************************************************************************************************************************************/
  .displaypokemon{
    width: 1200px;
    height: 670px;
    background-color: rgba(206, 17, 37, 0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 1;
   
  }

  .h1Pokemon{
  color: #FFCB05;
  font-size: 80pt;
}

.h2Pokemon{
  color:white;
  padding-top:15px ;
  font-size: 50pt;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.h3Pokemon{
  color: white;
  font-size: 50pt;
  text-align: center;
}

 h3{
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  color: #090909;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FFF;
  font-size: 60px;
  text-align: center;
}

  /*****************Caught****************/
.caught{
  border-radius: 60.5px;
  border: 3.63px solid #FFCB05;
  background: #000;
  color:#FFF;
  width: 325px;
  height: 70px;
  float: right;
}
  .caught p{
    font-size: 40px;
    text-align: center;
    font-family: "Itim", cursive;
    margin: 0 auto;
  
}


  /*******************Info-container******/
.info-container{
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  justify-content: center;
}

/*******************Img/Pokemon**********/
.img-pokemon{
  background-image:url(/images/pokebola-back.svg) ;
  background-size: 350px 450px; 
  background-position: center; 
  background-repeat: no-repeat;
}
  .img-pokemon img{
   width: 550px;
  }


.typeContainer{
  background-image: url(/images/type.svg);
  background-repeat: no-repeat;
  height: 500px;
  width: 300px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
    font-family: "Itim", cursive;
    color: #FFCB05;
    font-size: 55px;
    text-align: center;
    padding-top: 75px;  
  }

/**************************Category************/
.category{
  background-image: url(/images/right-info.svg);
  background-repeat: no-repeat;
  height: 500px;
  width: 300px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 65px;
  color: #FFCB05;
}
    .category h4{
      font-family: "Itim", cursive;
      color: #FFCB05;
      font-size: 55px;
      text-align: center;
      margin-bottom: 0;  
      margin-bottom: 0;
    }
    .category p{
      font-family: "Itim", cursive;
      color:#FFF;
      font-size: 30px;
      text-align: center;
      margin: 0;
      padding: 0;
       
    }
    .categoy li{
      font-family: "Itim", cursive;
      color:#FFF;
      font-size: 30px;
      text-align: center;
      margin: 0;
      padding: 0;
    }
 

.weight{
  background-image: url(/images/Rectangle\ weight.svg);
  background-repeat: no-repeat;
  height: 300px;
  width: 500px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
    font-family: "Itim", cursive;
    color:#FFCB05;
    font-size: 40px;
    text-align: center;   
  }


 /**********Stats section********/
 .stats-container{
  background-color: #000;
  border:#FFCB05 solid 2px;
  border-radius: 5px;
  width: 1450px;
  height: 400px;
  margin-top: 25px;
  font-size: 40px;
  line-height: normal;
  color: white;
  text-align: center;
  font-family: "Itim", cursive;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 60px;  
}

.stats{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-row-gap: 60px;  
}

.stats-category{
  display: flex;
  flex-direction: row ;
  gap:10px 
}

.stats-title{
  text-align: center;
}

.stats-total{
  display: flex;
  flex-direction: row;
  gap:5px;
  justify-content: flex-end;
  padding-right: 25px;
}

/*****Evolutions******************/

.section-evolution{
  margin-top: 55px;
  width: 700px;
  height: 451px;
  border-radius: 20px;
  border: 5px solid #FFCB05;
  background: #000;
  margin: 0 auto; 
  margin-top: 50px;
}

.evolution-container{
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1px;
}
.evolution-container p{
    text-align: center;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: normal; 
    color: white;
  }
  .evolution-container h5{
    text-align: center;
    font-family: "Itim", cursive;
    font-weight: 400;
    color:  #FFCB05;
    font-style: normal;
    font-size: 40px;
    line-height: normal;
    }
  

.evolution-wrap{
  flex-direction: column;
  display: flex;
 
  }
  
.pokemon-image {
  height: 100px;
  width: 100px;
}
  
.pokemon-info {
  flex-direction: column;
  align-items: center;
  margin: 10px;
  display: flex;
}
  
.pokemon-number {
  color: #FFCB05;
  font-family: "Itim", cursive; 
  font-size: 40px;
}
  
.pokemon-name {
  font-size: 40px;
  color: #fff;
  font-family: "Itim", cursive;
}
  
.title {
  font-size: 50px;
  font-weight: bold;
  color: #FFCB05;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
  font-family: "Indie Flower", cursive;
  }

  /**************Buttons***************/
  
.buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  }

.buttons{
  width: 252px;
  height: 60px;
  margin-top: 2em;
  flex-shrink: 0;
  background-color: #FFCB05; 
  color: #000; 
  border: white;
  border-radius: 25px; 
  font-size: 20pt; 
  font-weight: bold;
  cursor: pointer; 
  transition: background-color 0.3s ease;  
  }
  
.showMore:hover {
  background-color: black;
  color:white;
  }



/******************************************************************************************************************************************************************************************************
****************************************************************                         * Pokemon javascript *                     ***********************************************************************
******************************************************************************************************************************************************************************************************/

.each-pokemon{
  background-image: url(/images/space-1796654_1280.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 1200px;
  height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 1;
  overflow: scroll;
}

.caught-status{
  width: 300px;
  height: 50px;
  margin-left: 20px;
  margin-top: 100px;
  color: #FFF;
  border: 2px solid #FFCB05;
  border-radius: 25px;
  text-align: center;
  width: 200px;
  height: 40px;
  font-size: 15pt;
  font-family: "Indie Flower", cursive;
}
.weightp, .hd-pokemon, .typesp {
  display: inline-flex;
  flex: 1;
}

.hd-pokemon{
width: 450px;
height: 450px;
background-image: url(/images/pokebola-back.svg);
border-radius: 500px;
background-size: cover; 
background-position: center;
position: absolute; 
top: 108%; 
left: 50%; 
transform: translate(-50%, -50%);
opacity: 0.9; 
}

.name-pokemon{
color:white;
font-size: 30pt;
text-align: center;
font-family: "Indie Flower", cursive;
}

.h2Pokemon{
color:white;
font-size: 30pt;
text-align: center;
font-family: "Indie Flower", cursive;
}

.h3Pokemon{
color:#FFCB05;
font-size: 30pt;
text-align: center;

}
/************types*****************/

.types{
  background-image: url(/images/type.svg);
  background-repeat: no-repeat;
  height: 270px;
  width: 270px;
  background-size: contain;
  font-family: "Itim", cursive;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  padding-top: 30px;  
  margin-left: 100px;
}

.typesH3{
  font-family: "Itim", cursive;
  color:#FFCB05;
  font-size: 30px;
  text-align:left;
  padding-left: 50px;
   
}

.typesp{
 padding-right: 60px;
   
}

/**********************height***************/
.height-container{
  background-image: url(/images/right-info.svg);
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  background-size: contain;
  padding-top: 6px;
  float: right;
  font-family: "Itim", cursive;
  color:#ffffff;
  font-size:25px; 

}
.height-container h3{
  font-family: "Itim", cursive;
  color:#FFCB05;
  font-size: 30px;
  padding-top: 60px;
  text-align:left;
  padding-left: 50px;
   
}

.height-container p{
  padding-left: 20px;
}
/*********************** weight ************/
.weight-container{
 
  background-image: url(/images/Rectangle\ weight.svg);
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  background-size: contain;
  margin: 0 auto;
  font-family: "Itim", cursive;
  color:#ffffff;
  font-size:25px;
  text-align: center;  
  margin-top: 10px;
  display: block;
  margin-bottom: 20px;
}

.weight-container h3{
  font-family: "Itim", cursive;
  color:#FFCB05;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
   
}


.abilities{
  background-color: #000000;
  border-radius: 25px;
  border: 5px solid #FFCB05; 
  width: 400px;
  margin: 0 auto;
  margin-top: 150px;
}

.abilities h3{
color: #FFCB05;
font-family: "Itim", cursive;
font-size: 30pt;
}


.ability{
  margin: 0 auto;
  font-family: "Itim", cursive;
  color:#ffffff;
  font-size: 25pt;
  text-align: center;
}


/**********Stats section********/
.statsc{

  font-family: "Itim", cursive;
  color:#ffffff;
  font-size: 25pt;
  text-align: center; 
  background-color: #000000;
  border-radius: 25px;
  border: 5px solid #FFCB05;
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 50px;
}

.statsp{
  margin: 0 auto;
  font-family: "Itim", cursive;
  color:#ffffff;
  font-size: 25pt;
  text-align: center;
  border-radius: 25px;
  border-color: 5px solid #FFCB05;
}




.pokemon-number {
color: #FFCB05;
font-family: "Itim", cursive; 
font-size: 40px;
}

.pokemon-name {
font-size: 40px;
color: #fff;
font-family: "Itim", cursive;
}

.title {
font-size: 50px;
font-weight: bold;
color: #FFCB05;
text-align: center;
margin-bottom: 20px;
font-family: "Indie Flower", cursive;
}

/**************Buttons***************/


.close{
width: 100px;
height: 30px;
background-color: #FFCB05; 
color: #000; 
border-radius: 25px; 
font-size: 15pt; 
font-weight: bold;
cursor: pointer; 
transition: background-color 0.3s ease;  
cursor: pointer; 
 position: absolute; 
top:80px;
  right: 20px;
}

.close:hover {
  background-color: #070707; 
  color:#FFCB05; 
}

.uncaughtButton{
  width: 110px;
  height: 40px; 
  background-color: #0f0f0f; 
color:#FFCB05; 
border-radius: 50px; 
font-size: 15pt; 
border:2px solid #FFCB05;
display: block;
margin: 0 auto;
margin-top: 10px;
cursor: pointer;
}

.caughtButton{
  width: 110px;
  height: 40px; 
  background-color:#FFCB05; 
color:#0a0a09; 
border-radius: 50px; 
font-size: 15pt; 
border:2px solid #FFCB05;
display: block;
margin: 0 auto;
margin-top: 10px;
}

/******************************************************************************************************************************************************************************************************
****************************************************************                         * TABLET VERSION *                     ***********************************************************************
******************************************************************************************************************************************************************************************************/


/**********************************************************************************          Pokemon Page              **************************************************************************
**************************************************************************************************************************************************************************************************/


@media only screen and (min-width: 768px) and (max-width: 1020px) {

  /*********************** Header *****************/
header {
  padding: 30px; 
}
header h1 {
  font-size: 40pt; 
}

  /********************* Buttons nav ************************/
.heading1{
  margin-top: 300px;
}



h1{
  color:#FFCB05;
  font-family: 'pokedex';
  text-align: center;
  padding: 0%;
  font-size: 80pt;
  margin-bottom: .5em;
}
.hh1{
  padding-top: 180px;
}

/*************************  Display Pokemons    *******************/

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-left: 50px;
}

.card {
  width: 285px;
  height: 450px;  
}

.wrappokeball {
  height: 270px;
}
  .wrappokeball img{
  width: 3000px;
  height: 300px;
  }

.card h2 {
  margin-top: 0;
  font-size: 35px;
}

.card p {
  font-size: 25px;
  margin-bottom: 5px;
}

.buttonBanner {
  border-width: 2px;
}

  /*********************************************************************************************************************************************************************************
  ***********************************************************                 Pokemon Page              ****************************************************************************
  **********************************************************************************************************************************************************************************/

h2, h3{
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  color: #090909;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FFF;
  font-size: 60px;
  text-align: center;
}

.h1Pokemon{
  font-size: 50pt;
}
  
.h2Pokemon{
  font-size: 35pt;
}
.h3Pokemon{
  font-size: 35pt;
}

  /*****************Caught****************/
.caught{
  width: 200px;
  height: 50px;
  float: right; 
}
  .caught p{
    font-size: 30px;
  }


  /*******************Info-container******/
.info-container{
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  justify-content: center;
  max-width: 768px; 
 }

/*******************Img/Pokemon**********/
.img-pokemon{
  background-size: 300px 350px; 
  background-position: center; 
  background-repeat: no-repeat;
}
  .img-pokemon img{
    width: 500px;
  }


.type{
  height: 400px;
  width: 250px;
  gap: 20px;  
}
  .type h4{
  font-family: "Itim", cursive;
  color: #FFCB05;
  font-size: 45px;
  }

.category{
  height: 400px;
  width: 250px;
}
.category h4{
    font-size: 45px;
  }
.category p{
    font-size: 25px;   
  }
  .category  li{
    font-size: 25px;
  }

.weight{
  padding-top: 20px;
  height: 250px;
  width: 400px;
}
.weight  h4{
    font-size: 45px;
  }
  .weight  p{
    font-size: 25px;  
  }

 /******Stats section*****/
.stats-container{
width: 700px;
height: 500px;
margin: 0 auto;
margin-top: 25px;
}
.stats-container h4{
  font-size: 45px;
}
.h{
  font-size: 35px;
}
.p{
   font-size: 35px;
}
.stats{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-row-gap: 60px;    
}

/*****Evolutions******************/

.section-evolution{
  margin-top: 55px;
  width: 700px;
  height: 451px;
  border-radius: 20px;
  border: 5px solid #FFCB05;
  background: #000;
  margin: 0 auto; 
  margin-top: 50px;
}

.evolution-container{
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1px;
}
  .evolution-container p{
    color: white;
    text-align: center;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: normal; 
  }
  .evolution-container h5{
    color:  #FFCB05;
    text-align: center;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: normal;
    }

  .evolution-wrap{
   display: flex;
   flex-direction: column; 
  }
  
  .pokemon-image {
    width: 100px;
    height: 100px;
  }
  
  .pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .pokemon-number {
    font-size: 40px;
    color: #FFCB05;
    font-family: "Itim", cursive;
  }
  
  .pokemon-name {
    font-size: 40px;
    color: #fff;
    font-family: "Itim", cursive;
  }
  
  .title {
    font-size: 40px;
    font-weight: bold;
    color: #FFCB05;
    text-align: center;
    margin-bottom: 20px;
  }

  /*********Buttons***********/
  
  .buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  .next{
    width: 252px;
    height: 60px;
    margin-top: 2em;
    flex-shrink: 0;
    background-color: #FFCB05; 
    color: #000; 
    border: white;
    border-radius: 25px; 
    font-size: 20pt; 
    font-weight: bold;
    cursor: pointer; 
    transition: background-color 0.3s ease;  
  }
  
  .showMore:hover {
    background-color: black;
    color:white;
  }

  

/******************************************************************************************************************************************************************************************************
****************************************************************                         * Pokemon javascript *                     ***********************************************************************
******************************************************************************************************************************************************************************************************/

.each-pokemon{
  width: 800px;
  height: 1150px;
 
}

.caught-status{
  width: 300px;
  height: 50px;
  margin-left: 30px;
  margin-top: 100px;
  text-align: center;
  font-size: 20pt;
}
.weightp, .hd-pokemon, .typesp {
  display: inline-flex;
  flex: 1;
}

.hd-pokemon{
width: 400px;
height: 400px;
background-image: url(/images/pokebola-back.svg);
border-radius: 500px;
background-size: cover; 
background-position: center;
position: absolute; 
top: 55%; 
left: 50%; 
transform: translate(-50%, -50%);
opacity: 0.9; 
}

.name-pokemon{
color:white;
font-size: 30pt;
text-align: center;
font-family: "Indie Flower", cursive;
}

.h2Pokemon{
color:white;
font-size: 30pt;
text-align: center;
font-family: "Indie Flower", cursive;
}

.h3Pokemon{
color:#FFCB05;
font-size: 30pt;
text-align: center;

}
/************types*****************/

.types{
  background-image: url(/images/type.svg);
  background-repeat: no-repeat;
  height: 270px;
  width: 270px;
  background-size: contain;
  font-family: "Itim", cursive;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  padding-top: 30px;  
  margin-left: 100px;
}

.typesH3{
  font-family: "Itim", cursive;
  color:#FFCB05;
  font-size: 30px;
  text-align:left;
  padding-left: 50px;
   
}

.typesp{
 padding-right: 60px;
   
}

/**********************height***************/
.height-container{
  background-image: url(/images/right-info.svg);
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  background-size: contain;
  padding-top: 6px;
  float: right;
  font-family: "Itim", cursive;
  color:#ffffff;
  font-size:25px; 

}
.height-container h3{
  font-family: "Itim", cursive;
  color:#FFCB05;
  font-size: 30px;
  padding-top: 60px;
  text-align:left;
  padding-left: 50px;
   
}

.height-container p{
  padding-left: 20px;
}
/*********************** weight ************/
.weight-container{
  margin-top: 550px;
  display: block;
  margin-bottom: 10px;
}

.weight-container h3{
  font-family: "Itim", cursive;
  color:#FFCB05;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
   
}

.abilities{
  margin: 0 auto;
  margin-top: 80px;
  padding: 10px;
}


/**********Stats section********/
.statsc{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.statsp{
  margin: 0 auto;
  font-family: "Itim", cursive;
  color:#ffffff;
  font-size: 25pt;
  text-align: center;
  border-radius: 25px;
  border-color: 5px solid #FFCB05;
}


/**************Buttons***************/

.close{
width: 150px;
height: 40px;
font-size: 20pt; 
cursor: none; 
transition: background-color 0.3s ease;  

}

.close:hover {
  background-color: #070707; 
  color:#FFCB05; 
}

.uncaughtButton{
  width: 110px;
  height: 40px; 
  background-color: #0f0f0f; 
color:#FFCB05; 
border-radius: 50px; 
font-size: 15pt; 
border:2px solid #FFCB05;
display: block;
margin: 0 auto;
margin-top: 10px;
cursor: pointer;
}

.caughtButton{
  width: 110px;
  height: 40px; 
  background-color:#FFCB05; 
color:#0a0a09; 
border-radius: 50px; 
font-size: 15pt; 
border:2px solid #FFCB05;
display: block;
margin: 0 auto;
margin-top: 10px;
}
}



/*******************************************************************************************************************************************************************************
****************************************************************                     MOBILE VERSION                      *******************************************************
********************************************************************************************************************************************************************************/


/**********************************************************************************************************************************************
************************************************                  Pokedex page               **************************************************
**********************************************************************************************************************************************/


@media only screen and (max-width: 767px) {

  /***************************** Header ***************************/

.headerButtons{
  height: 210px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 300px;
  }

#search-bar{
  background-color: white;
  border: solid #FFCB05;
  border-radius:25px;
  height:3.5em;
  width:300px;
}

#search-bar::placeholder {
  color:#FFCB05;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
   
.buttonBanner{
  background-color: #FFCB05;
  border: solid white;
  border-radius: 25px;
  height: 3.5em;
  width: 200px;
  margin-left: 50px;
  transition: background-color 0.3s, color 0.3s;
}

header {
  padding: 20px;  
}

header h1 {
  font-size: 30pt; 
}

.heading1{
margin-top: 2%;
font-size: 70px;
}

.hh1{
  padding-top: 250px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center; 
}

.card {
  width: 200px;
  height:350px;
 margin-left: 80px  
}

.wrappokeball{
  height: 190px;
}
.wrappokeball  img{
    width: 180px;
    height: 180px;
  }

.card h2 {
  margin-top: 0;
  font-size: 25px;
}

.card p {
  font-size: 20px;
  margin-bottom: 5px;
}

/**************************  Categories  ************************/
.categories {
  gap: 5px;
  padding-top: 1em;
}

/******** Grass *************/
.grass {
  width: 90px;
  height: 35px;
  border: none;
  border-radius: 25px; 
}
.grass p{
  font-size:18pt ;
 margin: 0%; 
}

/******** Poison *************/
.poison {
  width: 90px;
  height: 35px;
}
.poison p{
  font-size:18pt ;
  margin: 0%; 
}

/******** Fire *************/
.fire{
  width: 90px;
  height: 35px;
}
.fire p{
  font-size:18pt ;
  margin: 0%; 
}

/******** Flying *************/
.flying{
  width: 90px;
  height: 35px;
}
.flying p{
  font-size:18pt ;
  margin: 0%; 
}

/******** Water *************/
.water{
  width: 90px;
  height: 35px; 
}
.water p{
  font-size:18pt ;
  margin: 0%; 
}

/******** Bug *************/
.bug{
  width: 90px;
  height: 35px;
}
.bug p{
  font-size:18pt ;
  margin: 0%;  
}

/******** Normal *************/
.normal{
  width: 90px;
  height: 35px;
}
.normal p{
  font-size:18pt ;
  margin: 0%;  
}

  
/*************************  Display Pokemons    *******************/

h2, h3{
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  color: #090909;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FFF;
  font-size: 60px;
   text-align: center;
}

.h1Pokemon{
  font-size: 35pt;
}

.h2Pokemon{
  font-size: 25pt;
}

.h3Pokemon{
  font-size: 25pt;
}

/*****************Caught****************/
.caught{
  width: 150px;
  height: 100px
}
  .caught  p{
    font-size: 20px;
  }

/*******************Info-container******/
.info-container{
  margin-top: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  width: 350px; 
}
.info-container > div:first-child {
  grid-row: 2;
}
.info-container > div:nth-child(2) {
  grid-row: 1;
}
.info-container > div {
  margin: 0 auto;
  text-align: center; 
  margin-bottom: 30px;
}

/*******************Img/Pokemon**********/
.img-pokemon{
  background-size: 300px 350px; 
  background-position: center; 
  background-repeat: no-repeat;
}
  .img-pokemon  img{
    width: 500px;
  }

.type{
  background-image: url(/images/Rectangle\ weight.svg);
  height: 250px;
  width: 400px;
  gap: 10px;
}
  .type  h4{
  font-family: "Itim", cursive;
  color: #FFCB05;
  font-size: 45px;
  }

.category{
  background-image: url(/images/Rectangle\ weight.svg);
  height: 250px;
  width: 400px;
  padding-top: 0%;
}
  .category  h4{
    font-size: 45px;
  }
  .category  p{
    font-size: 25px;   
  }
  .category  li{
    font-size: 25px;
  }

.weight{
  padding-top: 20px;
  height: 250px;
  width: 400px;
}
  .weight  h4{
    font-size: 45px;
  }
  .weight  p{
    font-size: 25px;  
  }

/******Stats section*****/
.stats-container{
width: 350px;
height: 800px;
margin: 0 auto;
margin-top: 25px;
}
.stats-container h4{
  font-size: 45px;
 
}

.h{
 
  font-size: 35px;
}
.p{
  font-size: 35px;
}


.stats{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 40px;
  
}

.stats-total{
  padding-top: 20px;
}


/*****Evolutions******************/

.section-evolution{

width: 350px;
height: 450px;
}

.evolution-container{
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 1px;
}
  .evolution-container p{
    font-size: 30px;
    
  }
  h5{
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  }

.evolution-wrap{
 display: flex;
 flex-direction: column;
  
}



.pokemon-image {
  width: 100px;
  height: 100px;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.pokemon-number {
  font-size: 30px;
  color: #FFCB05;
  font-family: "Itim", cursive;
 
}

.pokemon-name {
  font-size: 30px;
  color: #fff;
  font-family: "Itim", cursive;
}



.title {
  font-size: 40px;
  font-weight: bold;
  color: #FFCB05;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 40px;
}

/*********Buttons***********/

.buttons{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto; 
  width: max-content; 

}

.next{
  width: 252px;
  height: 60px;
  margin-top: 2em;
  flex-shrink: 0;
  background-color: #FFCB05; 
  color: #000; 
  border: white;
  border-radius: 25px; 
  font-size: 20pt; 
  font-weight: bold;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
 
}

.showMore:hover {
  background-color: black;
  color:white;
}



/******************************************************************************************************************************************************************************************************
****************************************************************                         * Pokemon javascript *                     ***********************************************************************
******************************************************************************************************************************************************************************************************/
.text{
  width: 300px;
  margin-left: 10px;
  font-size: 20px;
}
.each-pokemon{
  background-image: url(/images/space-1796654_1280.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 390px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
 
}

.caught-status{
  width: 200px;
  height: 40px;
}

.weightp, .hd-pokemon, .typesp {
  display: inline-flex;
  flex: 1;
}

.hd-pokemon{
width: 300px;
height: 300px;
top: 76%; 
left: 50%; 
transform: translate(-50%, -50%);
}


.h2Pokemon{
font-size: 25pt;
}

.h3Pokemon{
font-size: 25pt;
}
/************types*****************/

.types{
  font-size: 25px;
  padding-top: 30px;  
  margin-left: 100px;
  margin-top: 300px;
}

.typesH3{
  font-size: 25px; 
  margin-left: 15px;
}

.typesp{
 padding-right: 60px;
   
}

/**********************height***************/
.height-container{
  background-image: url(/images/right-info.svg);
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  background-size: contain;
  padding-top: 6px;
  float: right;
  font-family: "Itim", cursive;
  color:#ffffff;
  font-size:25px; 
}

.height-container h3{
  font-size: 25px;
  padding-top: 60px;
  padding-left: 50px;
   
}

.height-container p{
  padding-left: 20px;
}
/*********************** weight ************/
.weight-container{
  font-size:25px;
  margin-top: 400px;
  margin-bottom: 0;
}

.weight-container h3{
  font-size: 25px;
  padding-top: 20px;
}

.abilities{
  margin-top: 100px;
  width: 350px;
}



/**********Stats section********/
.statsc{
  width: 350px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 50px;
}

.statsp{
  margin: 0 auto;
  font-family: "Itim", cursive;
  color:#ffffff;
  font-size: 25pt;
  text-align: center;
  border-radius: 25px;
  border-color: 5px solid #FFCB05;
}




.pokemon-number {
color: #FFCB05;
font-family: "Itim", cursive; 
font-size: 40px;
}

.pokemon-name {
font-size: 40px;
color: #fff;
font-family: "Itim", cursive;
}

.title {
font-size: 50px;
font-weight: bold;
color: #FFCB05;
text-align: center;
margin-bottom: 20px;
font-family: "Indie Flower", cursive;
}

/**************Buttons***************/


.close{
width: 100px;
height: 30px;
cursor: none; 
position: absolute; 
top:60px;
right: 20px;

}

.caught-status{
margin-top: 140px;
}

.uncaughtButton{
  width: 110px;
  height: 40px; 
  background-color: #0f0f0f; 
color:#FFCB05; 
border-radius: 50px; 
font-size: 15pt; 
border:2px solid #FFCB05;
display: block;
margin: 0 auto;
margin-top: 10px;
cursor: pointer;
}

.caughtButton{
  width: 110px;
  height: 40px; 
  background-color:#FFCB05; 
color:#0a0a09; 
border-radius: 50px; 
font-size: 15pt; 
border:2px solid #FFCB05;
display: block;
margin: 0 auto;
margin-top: 10px;
}
}
